
body
    background-color:  $bggrey

.navbar 	
	background-color:  $header
	box-shadow: 30px
	a 
    color: white

.logo
    max-width: 30px
    margin-top: 5px
.nav-item
    background-color: $header
    border: none
    color: white
    padding: 0px 10px
    text-align: center
    border-radius: 10px
    text-decoration: none
    display: inline-block
    font-size: 15px
    cursor: pointer

.nav-item:hover 
     background: $hover

.search
    margin-left: 25px
    margin-top: 6px
    padding: 1px 10px
    background-color: $hover
    border-radius: 10px
    color: white
    border: 0px
    outline: 0
    font-size: 15px

button
    color: white