body
 background-color:  $bggrey
	a 
    color: white
.navbar 
	color: $bggrey
	background-color: $header
	padding-top: 0px
 .box1
 	border-top: 20px solid #ffae00
 	border-width: 10px

 .box2
 	border-top: 20px solid #fc7100
 	border-width: 10px
 .box3
 	border-top: 20px solid #e51c5e
 	border-width: 10px
 .box4
 	border-top: 20px solid #ae0f8d
 	border-width: 10px
 .box5
 	border-top: 20px solid #e51c5e
 	border-width: 10px
 .box6
 	border-top: 20px solid #33227a
 	border-width: 10px
 .box7
 	border-top: 20px solid #0c8fcc
 	border-width: 10px
